.grid-container {
  display: grid;
  height: 100vh;
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  background-color: rgba(190, 100, 145, 0.479);
  
}


.done {
  color: #908e92;
}

.text-background{
  color:blueviolet;
}
.todo-container{
grid-column: 2/3;
grid-row:2/3;
background-color: bisque;


}

.todo-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 300ms 0s ease;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.todo-item:hover{
    color: blueviolet;
    margin-left: 10px;
    margin-right: 0px;
    box-shadow: 0px 0px 5px 0px gray;
    background-color: white;
}

button{
    width: fit-content;
    background-color: rgb(20, 19, 20);
   
}
#new_btn:hover{
  color: white;
  background-color: blueviolet; 
}
#new_btn {
  color:blueviolet;
  background-color: white; 
}
/* 
.sectionOne {
  background-color: red;
}

.sectionTwo {
  background-color: blue;
}

.sectionThree {
  background-color: green;
}

.sectionFour {
  background-color: purple;
}

.sectionFive {
  background-color: orange;
  text-align: center;
}

.sectionSix {
  background-color: pink;
}

.sectionSeven {
  background-color: brown;
}

.sectionEight {
  background-color: teal;
}

.sectionNine {
  background-color: tomato;
}
 */

@media only screen and (max-width:550px){

    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 6fr 1fr;
    }

    .todo-container{
        grid-column:1/2;
        grid-row: 2/3;
    }

}