body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(238,174,202) !important;
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%) !important;
}



.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6px;
  height: 100vh;
  grid-template-rows: 1fr 4fr 1fr;
}

.todo-container{

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.todo-item{
  transition: all 300ms 0s ease;
  padding: 7px 20px 2px 20px;
}

.todo-item:hover{
  color: blue;
  margin-left: 10px;
  margin-right: 0px;
  box-shadow: 0px 0px 5px 0px gray;
}

button {
  background-color: rgba(148,187,233,1) !important;
  border: none !important;
}

h1{
  color: rgba(148,187,233,1) !important;
}

.card{
  padding: 40px;
}


@media only screen and (max-width:550px) {
  .grid-container{
      grid-template-columns: 1fr;
      grid-template-rows:  1fr;
  }

  .todo-container{
      grid-column-start: 2;
      grid-column-end: 1;

      grid-row-start: 1;
      grid-row-end: 2;
  }
}