body {
  font-family: sans-serif;
  background: url(chill.jpg) no-repeat;
  background-size: cover;
}

.box-container {
  display: grid;
  height: 100vh;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 4fr 1fr;
}

.header {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.header h1 {
  color: #fff;
}

.todo-box{
  margin-bottom: 20px;
  padding: 20px 0px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  transition: linear 2px ease-in-out;
  grid-column: 2/3;
  grid-row:2/3;
  box-shadow: 2px 1px rgba(51, 51, 51, 0.466);
}

.todo-item-box {
  margin-top: 20px;
  background: #fe7;
}

.todo-item{
  background: rgb(173, 216, 230);
  color: #333;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  transition: all 300ms 0s ease;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.todo-item:hover{
  margin-left: 10px;
  margin-right: 0;
  box-shadow: 0px 0px 5px 0px gray;
}

.text {
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
}

.text:focus, .text:hover {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-bottom: 1px solid #333;
}

button{
  padding: 5px 10px;
  width: fit-content;
}

i {
  background: #00f;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}

i:hover {
  background: #fff;
  color: #00f;
  border-radius: 5px;
  transition: all 0.5s;
}